body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homecard{
  margin-top: 2rem;
  margin-left: 1rem;
  width: 15rem; 
  height: 20rem;
}

.homeRow{
  display:flex; 
  flex-direction:row;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

button {
  background-color: #55B6D8;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  font-weight: bold;
}

button:hover {
  opacity: 0.8;
}

.blocktext {
  margin-left: auto;
  margin-right: auto;
  width: 8em
}